/SampleVideo_1280x720_10mb.mp4
/SampleVideo_1280x720_10mb (3rd copy).mp4
/SampleVideo_1280x720_10mb (4th copy).mp4
/sowhat
/output/
/ffmpeg-4.2.2-amd64-static/
/.idea/misc.xml
/.idea/modules.xml
/.idea/sowhat.iml
/.idea/vcs.xml
